* {
  background: black;
}
#text {
  text-decoration: none;
  color: wheat;
}

/* .t1 {
position: absolute;
top: 25%;
left: 10%;
animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
} */
#buttonid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 60px;
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffee00;

  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, #c6e613, #174dff);
}

#buttonid:hover {
  color: #45ff17;
  background: linear-gradient(to right, #13e6ca, #aa17ff);
}
/* #buttonid:focus {
  color: #45ff17;
  background: linear-gradient(to right, #e6e213, #17f7ff);
} */
#br1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, #c4e607, #ff1717);
  animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

#br2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to right, #c4e607, #ff1717);
  animation: animate2 2s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
#br3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(to left, #c4e607, #ff1717);
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
#br4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #c4e607, #ff1717);
  animation: animate4 2s linear infinite;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
